.container {
  background-color: var(--light-grey);
  color: var(--neutral-dark-color);
  font-size: var(--font-size-label);
  padding: 0.5em 0.7em;
  margin-right: -0.7em;
  margin-left: -0.7em;
  margin-bottom: 1em;
  border-radius: 1em;
  width: fit-content;
}
