.container {
  position: relative;
  border-right: 1px solid var(--day-chart-right-border);
  background-color: var(--day-chart-background);
  display: flex;
  padding-left: var(--timestamp-size);

  &_emptyDay {
    min-width: var(--timestamp-size);
  }

  &_today {
    background-color: yellow;
  }

  &_mobile {
    flex-direction: column;
    border-right: initial;
    border-bottom: 1px solid var(--day-chart-right-border);
    display: initial;
    padding-left: initial;
    padding-top: var(--timestamp-size);
    min-width: initial;
  }

  &_mobile.container_emptyDay {
    min-width: initial;
    min-height: var(--timestamp-size);
  }
}

.timestamp {
  text-align: right;
  top: 0;
  left: 0;
  position: absolute;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(-100%);
  padding: 0 5px;
  font-size: 0.7em;
  opacity: 0.5;
  height: var(--timestamp-size);

  &_mobile {
    text-align: initial;
    top: 0;
    left: 0;
    transform-origin: initial;
    transform: initial;
    padding: initial;
    opacity: initial;
    height: initial;
  }
}

.baseLine {
  width: 100%;
  border-bottom: 1px dashed var(--baseline-color);
  position: absolute;
  top: calc(50% - 0.5px);
  margin-left: calc(var(--timestamp-size) * -1);

  &_mobile {
    height: 100%;
    left: 50%;
    width: initial;
    border-bottom: initial;
    border-right: 1px dashed var(--baseline-color);
    top: 0;
    margin-left: initial;
  }
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--timestamp-size) * 1.5);
  height: calc(var(--timestamp-size) * 1.5);
  font-size: calc(var(--timestamp-size));
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  z-index: 500;

  &_source {
    background-color: var(--source-color);
  }

  &_drain {
    background-color: var(--drain-color);
  }
}
