.container {
  position: relative;
  border-right: 1px solid var(--day-chart-right-border);
  background-color: var(--day-chart-background);
  display: flex;
  z-index: 0;

  &_weekend {
    background-color: var(--day-chart-weekend-background);
  }

  &_emptyDay {
    min-width: var(--timestamp-size);
  }

  &_today {
    background-color: var(--day-chart-today-background);
  }

  &_mobile {
    flex-direction: column;
    border-right: initial;
    border-bottom: 1px solid var(--day-chart-right-border);
    display: initial;
    padding-left: initial;
    min-width: initial;
  }

  &_mobile.container_emptyDay {
    min-width: initial;
    min-height: calc(var(--timestamp-size) * 2);
  }
}

.timestamp {
  text-align: right;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(-100%);
  padding: 5px;
  font-size: 0.7em;
  opacity: 0.5;
  height: var(--timestamp-size);
  width: calc(100vh - var(--top-nav-size) - 7px - 10px);

  &_mobile {
    text-align: initial;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: initial;
    transform: initial;
    height: initial;
    width: initial;
  }

  &_isWeekend {
    color: var(--day-chart-weekend-timestamp);
  }
}

.container_today .timestamp {
  font-weight: bold;
}

.baseLine {
  width: 100%;
  border-bottom: 1px dashed var(--baseline-color);
  position: absolute;
  top: calc(50% - 0.5px);
  margin-left: calc(var(--timestamp-size) * -1);

  &_mobile {
    height: 100%;
    left: 50%;
    width: initial;
    border-bottom: initial;
    border-right: 1px dashed var(--baseline-color);
    top: 0;
    margin-left: initial;
  }
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--timestamp-size) * 1.5);
  height: calc(var(--timestamp-size) * 1.5);
  font-size: calc(var(--timestamp-size));
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  z-index: 500;

  &_source {
    background-color: var(--source-color);
  }

  &_drain {
    background-color: var(--drain-color);
  }
}

.total {
  font-size: 0.6em;
  padding: 0.2em 0.5em;
  opacity: 0.4;
  font-weight: 700;

  &_mobile {
    padding: 0 0.5em;
  }
}
