.container {
  min-width: var(--timestamp-size);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &:first-child {
    margin-left: calc(var(--timestamp-size) * -1);
  }

  &_mobile:first-child {
    margin-left: initial;
    margin-top: calc(var(--timestamp-size) * -1);
  }

  &_mobile {
    min-width: initial;
    height: auto;
    flex-direction: row;
    justify-content: initial;
    margin-left: initial;

    &:first-child {
      margin-left: initial;
    }
  }
}

.drain,
.source {
  height: 100%;
  overflow: hidden;

  &_mobile {
    height: initial;
    width: 100%;
    overflow: initial;
    padding: 0.5em 0 0;
  }
}

.chartLine {
  width: 100%;
  height: 0;
  background-color: var(--source-color);

  &_isNegative {
    background-color: var(--drain-color);
  }

  &_loading {
    animation: fadeInOut 1s infinite alternate ease-in-out;
    // background-color: var(--placeholder-color, #e0e0e0);
    opacity: 0.7;

    @keyframes fadeInOut {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 0.9;
      }
    }
  }

  &_mobile {
    width: 0;
    min-height: var(--timestamp-size);
    height: auto;
  }
}
