.l {
  fill: url(#j);
}

.m {
  fill: url(#g);
}

.n {
  fill: url(#h);
}

.o {
  fill: url(#i);
}

.p {
  fill: url(#k);
}

.q {
  fill: url(#f);
}

.r {
  fill: url(#d);
}

.s {
  fill: url(#e);
}

.t {
  fill: url(#c);
}

.u {
  fill: url(#b);
}

.v {
  fill: none;
}

.w {
  fill: #004276;
}

.x {
  fill: #03020b;
}

.y {
  fill: #001c33;
}

.z {
  fill: #001e37;
}

.aa {
  fill: #02020f;
}

.ab {
  fill: #ffdba6;
}

.ac {
  fill: #fff8d2;
}

.ad {
  fill: #fd3000;
}

.ae {
  fill: #ff3100;
}

.af {
  fill: #ff3500;
}

.ag {
  fill: #b6baa7;
}

.ah {
  fill: #e0d5b5;
}

.ai {
  fill: #e1d6b6;
}

.aj {
  fill: #dfd4b4;
}

.ak {
  fill: #405065;
}

.al {
  fill: #495f70;
}
