.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;

  i {
    display: block;
    width: 100%;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  input {
    width: 100%;
    margin-bottom: 1em;
  }
}
