@keyframes fadeEffect {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  animation: fadeEffect 10s infinite;
}

.logo {
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  text-align: center;
}

.logoImage {
  width: 100%;
  max-width: 200px;
}

.logoText {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0.5em;
}

.version {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.loading {
  font-size: 0.8em;
}
