.tooltipContainer {
  position: relative;
  display: inline-block;
}

.childrenWrapper {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.8em;
  max-width: 250px;
  text-align: center;
  z-index: 100;
  white-space: normal;
  word-wrap: unset;
  pointer-events: none;
  animation: fadeIn 0.3s;
  width: 100px;
}

.tooltipTop {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  }
}

.tooltipBottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;

  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .tooltip {
    max-width: 200px;
    font-size: 12px;
  }
}
